@import url(//fonts.googleapis.com/css?family=Open+Sans:500,600,700,100,800,900,400,200,300);

@font-face {
	font-family: 'Lane';
	src: url(../font/lane.ttf);
}

@-webkit-keyframes bounce { 
    0%, 5%, 15%, 25%, 100% {transform: translateY(0);} 
    10% {transform: translateY(-10px);} 
    20% {transform: translateY(-5px);} 
} 
         
@keyframes bounce { 
    0%, 5%, 15%, 25%, 100% {transform: translateY(0);} 
    10% {transform: translateY(-10px);} 
    20% {transform: translateY(-5px);} 
}

strong {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

html, body {
	background: #4a4e4d;
    margin: 0;
	padding: 0;
    height: 100%;
}

a {
	color: #999999;
}

/* Other Elements */

#banner {
    height: 100%;
    position: relative;
    overflow: hidden;
	background: #4a4e4d url(../img/banner.jpg);
	background-size: cover;
	z-index: 100;
	
	-webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	
}

#name {
	font-family: 'Lane';
	color: #999;
	text-align: center;
}

#about {
    height: auto;
    position: relative;
	top: -10vh;
    overflow: hidden;
	background: #c9c9c9;
	z-index: 90;
	
	-webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	
}

#works {
	height: auto;
    position: relative;
	top: -21vh;
    overflow: hidden;
	background: #dddddd;
	z-index: 80;
	
	-webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	
}

#contact {
	height: auto;
    position: relative;
	top: -31vh;
    overflow: hidden;
	background: #4a4e4d;
	z-index: 70;
	
}

.logo {
	display: block;
	margin: auto;
	padding-bottom: 2.5vh;
	height: auto;
}

.logo-footer {
	display: block;
	margin: auto;
	padding-bottom: 2.5vh;
	height: auto;
}

.next-arrow {
	color: #f6cd61;
	font-size: 30px;
	
	-webkit-animation: bounce 4s infinite;
    animation: bounce 4s infinite;

}

.next-btn {
	position: absolute;
    bottom: 0;
	padding-bottom: 5vh;
	text-align: center;
}

.footer-copyright {
	font-size: 70% !important;
	padding-top: 0 !important;
	padding-bottom: 5vh !important;
	color: #aaaaaa !important;
}

.invert-gold, .active {
	color: #f6cd61 !important;
}

.invert-dgold {
	color: #b59c5a !important;
}

.invert-light {
	color: #dddddd !important;
}

.section-container {
	margin-top: 10vh;
}

.section-title {
	margin: 0;
	padding-top: 10vh;
	padding-bottom: 3vh;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #4a4e4d;
	letter-spacing: 2px;
	text-align: center;
}

.skill-wrap {
	display: table;
	margin: auto;
	margin-bottom: 5vh;
}

.sub-title {
	margin: 0;
	padding-top: 3vh;
	padding-bottom: 2vh;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #4a4e4d;
	letter-spacing: 2px;
	text-align: center;
}

.content, .skill-list li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 25px;
	color: #4a4e4d;
	text-align: center;
}

.l-list {
	float: left;
}
.r-list {
	float: right;
}

.btn-resume {
	display: block;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 15vh;
	background-color: transparent;
	border: 2px solid #0e9aa7;
}

.btn-resume:hover {
	border-color: #3da4ab;
}

.btn-inner {
	display: inline-block;
	padding: 15px 15px 9px 15px;
	color: #0e9aa7;
}

.btn-inner:hover {
	color: #3da4ab;
}

.btn-icon {
	float: left;
	font-size: 24px;
}

.btn-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0;
	padding-left: 10px;
	text-align: center;
	float: right;
	font-size: 100%;
	vertical-align: middle;
}

.social-media {
	display: table;
	margin: auto;
}

.social-icon-l {
	color: #dddddd;
	font-size: 45px;
	text-align: center;
	padding-right: 10px;
}

.social-icon-r {
	color: #dddddd;
	font-size: 45px;
	text-align: center;
	padding-left: 10px;
}

.fa-github-square, .fa-linkedin-square {
	-webkit-transition:: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.fa-github-square:hover {
	color: #4078C0;
}

.fa-linkedin-square:hover {
	color: #0077B5;
}

/* Works */

.wrap-project {
	margin-bottom: 10vh;
}

.project {
	margin-bottom: 5vh;
}

.project-name {
	padding-bottom: 1vh;
}

.project-desc {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	text-align: center;
}

.used-tech {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	line-height: 200%;
	text-align: center;
}

.tech-soft, .tech-lang {
	border-radius: 5px; 
	border-style: solid;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.tech-soft {
	color: #0e9aa7;
	border-color: #0e9aa7;
}

.tech-lang {
	color: #fe8a71;
	border-color: #fe8a71;
}

/* Responsive Elements */

@media (min-width: 0px) { 
	
	#about, #works {
		-webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
		clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
	}

	.logo {
		margin-top: 35vh;
		width: 15vw;
	}
	
	.logo-footer {
		margin-top: 10vh;
		width: 10vw;
	}
	
	#name {
		font-size: 150%;
		letter-spacing: 3px;
	}
	
	.section-title, .content, .used-tech, .project-desc {
		font-size: 120%;
		padding-left: 7%;
		padding-right: 7%;
	}
	
	.sub-title {
		font-size: 80%;
	}
	
	.project-desc {
		font-size: 100%;
	}
	
	.used-tech {
		font-size: 60%;
	}
	
	.navbar-nav .nav-link {
		font-size: 0%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.nav-sticky .navbar-nav .nav-link {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.navbar-custom {
		display: none;
	}
	
	.skill-list {
		width: 100%;
		padding: 0;
	}

	.skill-list ul {
		padding: 0;
	}

	.skill-list li {
		list-style: none;
		text-align: center;	
		font-size: 100%;
	}

 }

@media (min-width: 768px) {
	.logo {
		margin-top: 33vh;
		width: 10vw;
	}
	
	.logo-footer {
		margin-top: 10vh;
		width: 5vw;
	}
	
	#name {
		font-size: 300%;
		letter-spacing: 5px;
	}
	
	.section-title, .content, .used-tech, .project-desc {
		font-size: 120%;
		padding-left: 25%;
		padding-right: 25%;
	}
	
	.sub-title {
		font-size: 80%;
	}
	
	.project-desc {
		font-size: 100%;
	}
	
	.used-tech {
		font-size: 60%;
	}
	
	.skill-list {
		width: 50%;
		padding: 0;
	}

	.skill-list ul {
		padding: 0;
	}

	.skill-list li {
		list-style: none;
		text-align: center;
		font-size: 100%;
	}
	
	.l-list {
		padding-right: 50px;
	}
	
	.r-list {
		padding-left: 50px;
	}
	
	/* Nav Bar Minimum Display Size Here */

	.navbar-custom {
		display: flex;
		width: 100%;
		color: #999999;
		position: fixed;
		z-index: 1000;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 50% 100%, 0 55%);
		clip-path: polygon(0 0, 100% 0, 100% 55%, 50% 100%, 0 55%);
		
		-webkit-transition: background .2s ease-in-out;
		transition: background .2s ease-in-out;
	}

	.navbar-nav {
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		-webkit-justify-content: center;
		justify-content: center;
		list-style: none;
		padding: 0;
		padding-top: 6vh;
		padding-bottom: 3vh;
		-webkit-transition: padding .4s ease-in, margin .4s ease-in;
		transition: padding .4s ease-in, margin .4s ease-in;
		transition-delay: .15s;
	}

	.navbar-nav .nav-link {
		color: #999999;
		font-family: 'Open Sans' sans-serif;
		font-weight: 600;
		letter-spacing: 1px;
		text-decoration: none;
		-webkit-transition: color 0.7s ease-in-out, padding .2s ease-in-out;
		transition: color 0.7s ease-in-out, padding .2s ease-in-out;
	}


	.nav-sticky .navbar-nav .nav-link {
		color: #ddd;
	}

	.navbar-nav .nav-link:hover {
		color: #f6cd61;
	}

	.nav-sticky {
		background: rgba(10, 10, 10, 0.8);
	}

	.nav-sticky .navbar-nav {
		padding: 0;
		margin: 3vh 0 4vh 0;
	}

	#nav-wrap {
		display: table;
		margin: auto;
	}

	.navbar-nav .nav-link {
		font-size: 80%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.nav-sticky .navbar-nav .nav-link {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (min-width: 992px) {
	.logo {
		margin-top: 33vh;
		width: 10vw;
	}
	
	.logo-footer {
		margin-top: 10vh;
		width: 4vw;
	}
	
	#name {
		font-size: 300%;
		letter-spacing: 7px;
	}
	
	.section-title, .content, .used-tech, .project-desc {
		font-size: 120%;
		padding-left: 30%;
		padding-right: 30%;
	}
	
	.sub-title {
		font-size: 80%;
	}
	
	.project-desc {
		font-size: 100%;
	}
	
	.used-tech {
		font-size: 60%;
	}

	.navbar-nav .nav-link {
		font-size: 90%;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.nav-sticky .navbar-nav .nav-link {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.skill-list ul {
		padding: 0;
	}

	.skill-list li {
		list-style: none;
		text-align: center;
		font-size: 100%;
	}
}

@media (min-width: 1200px) {
	.logo {
		margin-top: 35vh;
		width: 5vw;
	}
	
	.logo-footer {
		margin-top: 10vh;
		width: 3vw;
	}
	
	#name {
		font-size: 300%;
		letter-spacing: 7px;
	}
	
	.section-title, .content, .used-tech, .project-desc {
		font-size: 150%;
		padding-left: 35%;
		padding-right: 35%;
	}
	
	.sub-title {
		font-size: 110%;
	}
	
	.project-desc {
		font-size: 120%;
	}
	
	.used-tech {
		font-size: 90%;
	}
	
	.skill-list ul {
		padding: 0;
	}

	.skill-list li {
		list-style: none;
		text-align: center;
		font-size: 120%;
	}

}