/*Fonts*/
@font-face {
	font-family: MyFont;
	src: url("../font/Existence-Light.woff");
}

@font-face {
	font-family: MyFont2;
	src: url("../font/TitilliumWeb-ExtraLight.ttf");
}
@font-face {
	font-family: MyFont3;
	src: url("../font/EngelLight_ltd.ttf");
}

/*Loader*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    margin: -150px 0 0 -125px;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}
#loader:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
}
#loader-wrapper .loader-background {
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #050505;
    z-index: 998;
}
#loader-text-wrapper {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -175px 0 0 -19px;
    z-index: 1000;
}
#loader-text-wrapper .loader-text {
	position: relative;
	font-family: MyFont;
	color: #eeeeee;
	font-size: 500%;
	z-index: 1001;
	-webkit-animation: pulse 2.2s ease-out;
    -webkit-animation-iteration-count: 2; 
	animation: pulse 2.2s ease-out;
    animation-iteration-count: 2; 
    opacity: 0.0;
	cursor: default;
}
/*Animations*/
@-webkit-keyframes pulse {
    0% {
		opacity: 0;
	}
    50% {
		opacity: 0.8;
	}
    100% {
		opacity: 0;
	}
}
@keyframes pulse {
    0% {
		opacity: 0;
	}
    50% {
		opacity: 0.8;
	}
    100% {
		opacity: 0;
	}
}
@-webkit-keyframes flyinup {
	0%   {
		-webkit-transform: translateY(200%); 
		-ms-transform: translateY(200%);
		transform: translateY(200%);
	}
	100% { 
		-webkit-transform: translateY(0%); 
		-ms-transform: translateY(0%);
		transform: translateY(0%);
	}
}
@keyframes flyinup {
	0%   {
		-webkit-transform: translateY(200%); 
		-ms-transform: translateY(200%);
		transform: translateY(200%);
	}
	100% { 
		-webkit-transform: translateY(0%); 
		-ms-transform: translateY(0%);
		transform: translateY(0%);
	}
}
@-webkit-keyframes flyindown {
	0%   {
		-webkit-transform: translateY(-200%); 
		-ms-transform: translateY(-200%);
		transform: translateY(-200%);
	}
	100% { 
		-webkit-transform: translateY(0%); 
		-ms-transform: translateY(0%);
		transform: translateY(0%);
	}
}
@keyframes flyindown {
	0%   {
		-webkit-transform: translateY(-200%); 
		-ms-transform: translateY(-200%);
		transform: translateY(-200%);
	}
	100% { 
		-webkit-transform: translateY(0%); 
		-ms-transform: translateY(0%);
		transform: translateY(0%);
	}
}
@-webkit-keyframes fadein {
    0% { 
		opacity: 0; 
	}
    100%   { 
		opacity: 1; 
	}
}
@keyframes fadein {
    0% { 
		opacity: 0; 
	}
    100%   { 
		opacity: 1; 
	}
}
/*Loader Fade Animation*/
.loaded #loader-wrapper .loader-background {
	-webkit-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out;
     opacity: 0;
}
.loaded #loader-wrapper .loader-text{
	-webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
.loaded #loader {
	-webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}
.loaded #loader-wrapper {
	-webkit-transition: all 0.3s 1s ease-out; 
    transition: all 0.3s 1s ease-out;
    visibility: hidden;
}
/*/////////////////////////////////////////////////////*/
/*Navigate Bar*/
.loaded .nameplate{
	-webkit-animation: flyinup 2.5s normal forwards;
    animation: flyinup 2.5s normal forwards;
}
.loadmenu .click-about, .loadmenu .click-contact {
	-webkit-animation: flyinup 1.5s normal forwards;
    animation: flyinup 1.5s normal forwards;
}
.loadmenu .click-resume, .loadmenu .click-portfolio {
	-webkit-animation: flyinup 2s normal forwards;
    animation: flyinup 2s normal forwards;
}
.accessmenu .click-about:hover, .accessmenu .click-resume:hover, .accessmenu .click-portfolio:hover, .accessmenu .click-contact:hover {
	transform: scale(1.05);
	color: #73DCFF;
	opacity: 0.9;
}

.accessmenu .name-wrapper:hover {
	transform: scale(1.005);
}
#buffer {
	height: 30%;
}
#navigate {
	text-align: center;
	font-family: MyFont;
    /*position: fixed;
	top: 15vw;
	z-index: 900;*/
    left: 0;
    width: 100%;
	padding-left: 1%;
	padding-right: 1%;
    height: 40%;
	display: table;
}
#navigate .name-wrapper {
	vertical-align: middle;
	position: relative;
	left: 0%;
	width: 30%;
	height: 100%;
	padding: 10px;
	display: table-cell;
	cursor: pointer;
	transition: transform .5s ease-in-out;
}
#navigate .name-wrapper .nameplate {
	font-size: 6.5vw;
	color: #eeeeee;
	position: relative;
	cursor: default;
}
#navigate .name-wrapper .namedesc {
	font-size: 1.4vw;
	color: #73DCFF;
	position: relative;
	cursor: default;
}
#navigate .click-about, #navigate .click-resume, #navigate .click-portfolio, #navigate .click-contact {
	position: relative;
	vertical-align: middle;
	width: 10%;
	height: 100%;
	font-size: 2vw;
	display: table-cell;
	cursor: pointer;
	transition: all .5s ease-in-out;
}
.click-about, .click-resume, .click-portfolio, .click-contact {
	color: #A3A3A3;
}
#sub0 {
	height: 100%;
}
/*/////////////////////////////////////////////////////*/
#scrolldown-wrapper {
    position: fixed;
    top: 80%;
	width: 100%;
	height: 7%;
	padding-left: 48%;
	padding-right: 20%;
	transition: all 1s ease-in-out;
}
#scrolldown-wrapper .godown {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	width: 3.5vw;
	height: 3.5vw;
	max-width: 100%;
	max-height: 100%;
	position:absolute;
	cursor: pointer;
	transition: opacity .3s ease-in-out;
	opacity: 0;
}
.scroll-fade-in #scrolldown-wrapper .godown {
	opacity: 0.5;
}
#scrolldown-wrapper .godown:hover {
	opacity: 1;
}
.islastpage #scrolldown-wrapper .godown {
	opacity: 0;
}
.notmainpage #scrolldown-wrapper {
	top: 90%;
}
/*///////////////////////////////////////////////////*/
#header-bar {
	position: fixed;
	display: table;
	top: 20%;
	height: 15%;
	width: 100%;
	z-index: 900;
	font-family: MyFont;
	transition: all 1s ease-in-out;
	opacity: 0;
}
#header-bar .mini-name-wrapper {
	position: relative;
	left: 0%;
	width: 30%;
	height: 100%;
	padding: 10px;
	display: table-cell;
	cursor: pointer;
	transition: transform .5s ease-in-out;
}
#header-bar .mini-name-wrapper .mini-nameplate {
	font-family: MyFont3;
	font-size: 3vw;
	color: #eeeeee;
	position: relative;
	top: 20%;
	text-align: center;
}
#header-bar .mini-name-wrapper .mini-namedesc {
	font-size: 1vw;
	color: #73DCFF;
	position: relative;
	top: 15%;
	text-align: center;
}
#header-bar .mini-click-about, #header-bar .mini-click-resume, #header-bar .mini-click-portfolio, #header-bar .mini-click-contact {
	position: relative;
	top: 1.5vw;
	left: 0%;
	width: 15%;
	height: 100%;
	padding: 10px;
	text-align: center;
	font-size: 1.5vw;
	display: table-cell;
	cursor: pointer;
	transition: all .5s ease-in-out;
}
.mini-click-about, .mini-click-resume, .mini-click-portfolio, .mini-click-contact {
	color: #A3A3A3;
}
.notmainpage #header-bar {
	opacity: 1;
	top: 0%;
}
.mini-click-about:hover, .mini-click-resume:hover, .mini-click-portfolio:hover, .mini-click-contact:hover,.p1 .mini-click-about, .p2 .mini-click-resume, .p3 .mini-click-portfolio, .p4 .mini-click-contact {
	transform: scale(1.1);
	color: #73DCFF;
	opacity: 0.8;
}

#sub1, #sub2 , #sub3 , #sub4  {
	opacity: 0;
	transition: opacity 1.5s ease-in;
}
.p1 #sub1, .p2 #sub2, .p3 #sub3, .p4 #sub4 {
	opacity: 1;
}
.scroll2, .scroll3, .scroll4, .scroll5 {
	padding-left: 15%;
	padding-right: 15%;
}

#mypic {
	text-align: center;
}

#aboutme {
	font-family: MyFont2;
	text-align: left;
	font-size: 1vw;
	color: #FFFFFF;
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

/**/
.wrapper { 
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

#left-icon {
	float:left; 
	width: 10%;
}
#skills-title { 
	font-family: MyFont2;
	text-align: left;
	vertical-align: middle;
	font-size: 1.5vw;
	color: #FFFFFF;
}

#right-icon {
	float:right; 
	width: 10%;
}

#skills-title-r { 
	font-family: MyFont2;
	text-align: right;
	vertical-align: middle;
	font-size: 1.5vw;
	color: #FFFFFF;
	padding-right: 15%;
}

.wrapper-desc { 
	font-family: MyFont2;
	text-align: left;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 1.1vw;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
	padding-bottom: 3%;
}

.wrapper-education { 
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#date {
	float: right;
	font-family: MyFont2;
	text-align: left;
	vertical-align: middle;
	font-size: 1.1vw;
	color: #FFFFFF;
	padding-right: 10%;
}

#edu-desc {
	font-family: MyFont2;
	text-align: left;
	vertical-align: middle;
	font-size: 1.1vw;
	color: #A3A3A3;
}

#mbar {
    width: 100%;
	height: 8px;
    background-color: white;
	padding-right = 10%;
}

#my-mastery-java, #my-mastery-c, #my-mastery-lua {
    width: 70%;
    height: 100%;
    background-color: grey;
}

#my-mastery-as3 {
    width: 88%;
    height: 100%;
    background-color: grey;
}

#my-mastery-js, #my-mastery-html {
    width: 82%;
    height: 100%;
    background-color: grey;
}

.wrapper-skill {
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 3%;
	padding-bottom: 3%;
}

#skill-name {
	float: left;
}

#skill-left {
	float: left;
	width: 42%;
	padding-right: 8%;
}

#skill-right {
	float: right;
	width: 42%;
	padding-left: 8%;
}

.portfolio-wrap {
	font-family: MyFont2;
	font-size: 1.5vw;
	color: #FFFFFF;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 70%;
	border: 2px solid red;	
}
#project-left {
	float: left;
	width: 45%;
	height: 100%;
	border: 2px solid yellow;	
}

#project-right {
	float: right;
	width: 45%;
	height: 100%;
	border: 2px solid yellow;	
}

/*///////////////////////////////////////////////////*/
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body {
	background-image: url('../images/background.png');
	background-attachment: fixed;
	overflow:hidden;
}
a, a:link, a:visited, a:hover, a:active, a:focus { 
	color: #A3A3A3;
	text-decoration: none;
	outline: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}
